* {
    font-family: sans-serif;
}
body{
    margin: 0;
}
    /* Centering  */
    .center100 {
        width: 100%;
        margin: auto;
    }

    .center90 {
        width: 90%;
        margin: auto;
    }

    .center80 {
        width: 80%;
        margin: auto;
    }

    .center70 {
        width: 70%;
        margin: auto;
    }

    .center60 {
        width: 60%;
        margin: auto;
    }

    .center50 {
        width: 50%;
        margin: auto;
    }

    .center40 {
        width: 40%;
        margin: auto;
    }

    .center30 {
        width: 30%;
        margin: auto;
    }

    .center20 {
        width: 20%;
        margin: auto;
    }

    .center10 {
        width: 10%;
        margin: auto;
    }

    .VAlign0 {
        vertical-align: top;
    }

    VAlign {
        margin: auto 0 !important;
    }
    /*  Float  */
    .floatl {
        float: left;
    }

    .floatr {
        float: right;
    }

    .floatn {
        float: none;
    }
    /*  Display */
    .dblock {
        display: block;
    }

    .diblock {
        display: inline-block;
    }

    .dinline {
        display: inline;
    }

    .dflex {
        display: flex;
    }
    /*  Padding  */
    .Pad0 {
        padding: 0;
    }

    .Pad1Hor {
        padding: 0.25% 1%;
    }

    .Pad1Ver {
        padding: 1% 0.25%;
    }

    .Pad1Both {
        padding: 1%;
    }
    /*  Margin   */
    .Margin0 {
        margin: 0;
    }
    /*  Text    */
    .TAlignCenter {
        text-align: center;
        text-align-last: center;
    }

    .TAlignRight {
        text-align: right;
    }

    .TAlignLeft {
        text-align: left;
    }
    /*  Containers */
    .fScreenContainer {
        width: 100%;
        padding: 1%;
    }

    /*   Width    */
    .Width2 {
        width: 2% !important;
    }
    .Width10 {
        width: 10% !important;
    }

    .Width20 {
        width: 20% !important;
    }

    .Width25 {
        width: 25% !important;
    }

    .Width30 {
        width: 30% !important;
    }

    .Width40 {
        width: 40% !important;
    }

    .Width50 {
        width: 50% !important;
    }

    .Width60 {
        width: 60% !important;
    }

    .Width70 {
        width: 70% !important;
    }

    .Width75 {
        width: 75% !important;
    }

    .Width80 {
        width: 80% !important;
    }

    .Width90 {
        width: 90% !important;
    }

    .Width100 {
        width: 100% !important;
    }
    /* Height  */
    .Height100{
        height: 100% !important;
    }
    /*   Position   */
    .PAbsol{
        position: absolute;
    }
    .PRel{
        position: relative;
    }
    .PFix{
        position:fixed;
    }
    /* FORMULÁRIO*/
    /* Submeter Imagens */
    .imgForm {
        border: solid #1e1e1e 1px !important;
        border-radius: 5px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .imgFormIcon {
        display: block;
        width: 40%;
        margin: auto;
    }
    /*     Input    */
    .InputBox {
        height: 100%;
        box-sizing: border-box;
        width: 60% !important;
    }

    .InputTitle {
        font-size: 1.15em;
    }

    .InputBox input {
        font-size: 18px;
        height: initial;
    }
    /*    BOTÔES     */
    .buttont1 {
        border-radius: 20%;
        border: none;
    }



    .flexrow {
        display: flex !important;
        max-width:95vw;
        min-width:70vw;
    }
    .slideDContainer {
    display: inline-block;
    padding: 0 2%;
    width:calc(100%/7);
    }
    .slideDTitle {
    display: block;
    cursor: pointer;
    text-align:left;
    }
    .slideDOcult {
        display: none;
        width: 100% !important;
    }
    .slideDOcult input{
        width: 100%;
    }
    .checkDay::after {
        content:"Disponivel";
        margin: 10px 0 0 0;
        text-align:center;
        display:block;
    }
    .selectedSports{
        border: 1px solid #d9d9d9;
        border-radius:10px;
    }
/*    
    .slideDTitle:active ~.slideDOcult{
        display:block;
    }
    .slideDTitle:active ~ .slideDContainer {
        padding: 0;
    }
 */

.toggleSideBar{
    display:inline-block;
    cursor: pointer;
    width:2vh;
    padding-top:45vh;
    padding-left:0.5vh;
    padding-bottom:52vh;
}
.menuUserDisplay{
    width:20%;
    display:block;
}
.sideMenu{
    display:block;
    max-width:40vw;
    min-width:20vw;
}
.menuBody{
    width:30vw;
    margin-left:-30vw;
    display:inline-block !important;
}
.VAlignCenter{
    vertical-align:middle !important;
}
.pageContent {
    margin:0;
}
.selectedSportsList li{
    padding: 1vh 2vw;
    margin:0 1vw 1vh 0;
    font-weight: normal;
    display:inline-block;
    border: 1px solid;
    border-radius: 5px;
}

.pillborder{
    border-radius: 10px;
}


