/*   Solid Colors   */
    .WhiteBG {
        background-color: white !important;
    }
    .BlackBG {
        background-color: black !important;
    }
    .GreenBG {
        background-color: green !important;
    }
    .BlueBG {
        background-color: blue !important;
    }
    .RedBG {
        background-color: red !important;
    }
    .Gray30BG {
        background-color: #303030 !important;
    }
    .Gray60BG {
        background-color: #606060 !important;
    }
    .Gray90BG {
        background-color: #909090 !important;
    }
    .Gray120BG{
        background-color: #b2b2b2 !important;
    }
    .Gray150BG {
        background-color: #c6c6c6 !important;
    }
/*    Gradients    */
    /*   Gray   */
        .LGrayGradientBG {
            background: linear-gradient(#c6c6c6,#b2b2b2) !important;
        }
        .MGrayGradientBG {
            background: linear-gradient(#b2b2b2,#909090) !important;
        }
        .DGrayGradientBG {
            background: linear-gradient(#909090,#606060) !important;
        }
    /*   Colored   */
/*          */